
<h3>consumer details</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Consumer Id </th>
            <th>First Name </th>
            <th>Last name</th>
            <th>Date of Birth </th>
            <th>Pan Details</th>
            <th>email</th>
            <th>Phone Number</th>
            <th>Website</th>
            <th>Agent Id</th>
            <th>Agent Name </th>
        </tr>
     </thead>
     <tbody>
        <tr>
            <td>{{consumerformdata.consumerId}}</td>
            <td>{{consumerformdata.firstname}}</td>
            <td>{{consumerformdata.lastname}}</td>
            <td>{{consumerformdata.dob}}</td>
            <td>{{consumerformdata.pandetails}}</td>
            <td>{{consumerformdata.email}}</td>
            <td>{{consumerformdata.phone}}</td>
            <td>{{consumerformdata.website}}</td>
            <td>{{consumerformdata.agentid}}</td>
            <td>{{consumerformdata.agentname}}</td>
        </tr>
    </tbody>
</table>  
<div>

</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Business Id</th>
            <th>business Name</th>
            <th>Business Over View</th>
            <th>Validity </th>
            <th>Business Category </th>
            <th>Business Type</th>
            <th>Business TurnOver</th>
            <th>Capital Invested</th>
            <th>Total Employees</th>
            <th>Business Value</th>
            <th>Business Age </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{consumerformdata.businessid}}</td>
            <td>{{consumerformdata.businessname}}</td>
            <td>{{consumerformdata.businessoverview}}</td>
            <td>{{consumerformdata.validity}}</td>
            <td>{{consumerformdata.businesscategory}}</td>
            <td>{{consumerformdata.businesstype}}</td>
            <td>{{consumerformdata.businessturnover}}</td>
            <td>{{consumerformdata.capitalinvested}}</td>
            <td>{{consumerformdata.totalemployees}}</td>
            <td>{{consumerformdata.businessvalue}}</td>
            <td>{{consumerformdata.businessage}}</td>
        </tr>
    </tbody>
</table>

