<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- <link rel="stylesheet" href="../style.css"> -->

  <title>MFPE Bank Portal</title>
  
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
    
  
		
</head>
<body>
    <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-between">
      <div class="d-flex flex-column">
  
          <div class="profile">
            <img src="assets/img/dummy.svg" alt="dummy-img" class="img-fluid rounded-circle">
            <h1 class="text-light"><a routerLink="/customerdashboard">Customer </a></h1>
            
          </div>
  
          <nav class="nav-menu">
              <ul>
                <li><a routerLink="/customerdashboard"> <span>Home</span></a></li>
                <li><a routerLink="/customeraccounts"> <span>My Accounts</span></a></li>
                <li><a routerLink="/withdraw"> <span>Withdrawal/Check Balance</span></a></li>
                <li><a routerLink="/transfer"><span>Transfer</span></a></li>
                <li><a routerLink="/transactionaldetails"><span>Statement</span></a></li>
                <li><a routerLink="/" >Logout</a></li>
              </ul>
            </nav><!-- .nav-menu -->
            <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
        </div>
        
        
        <footer id="footer fixed-bottom mx-auto p-2">
          <div class="container">
              <div class="copyright text-light">
                  &copy; Copyright <strong><span>MFPE Bank Portal</span></strong>
                </div>
                <div class="credits text-light">
                    Designed by <a href="https://bootstrapmade.com/ ">POD-2</a>
                </div>
            </div>
        </footer>
      </header>
      


  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1 style="color:#173B6C;">Hii..Customer</h1>
        <h2 style="color:#173B6C;"> Welcome to MFPE Bank</h2>
    </div>
  </section>

   

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
</body>
</html>