<h3>Property details</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>propertyId</th>
            <th>businessId</th>
            <th>consumerId</th>
            <th>insurancetype</th>
            <th>propertytype</th>
            <th>buildingsqft</th>
            <th>buildingtype</th>
            <th>buildingstoreys</th>
            <th>buildingage</th>
            <th>costoftheasset</th>
            <th>salvagevalue</th>
            <th>usefullifeoftheAsset</th>
            <th>propertyvalue</th>
        </tr>
     </thead>
     <tbody>
        <tr>
            <td>{{propertyformdata.propertyId}}</td>
            <td>{{propertyformdata.businessId}}</td>
            <td>{{propertyformdata.consumerId}}</td>
            <td>{{propertyformdata.insurancetype}}</td>
            <td>{{propertyformdata.propertytype}}</td>
            <td>{{propertyformdata.buildingsqft}}</td>
            <td>{{propertyformdata.buildingtype}}</td>
            <td>{{propertyformdata.buildingstoreys}}</td>
            <td>{{propertyformdata.buildingage}}</td>
            <td>{{propertyformdata.costoftheasset}}</td>
            <td>{{propertyformdata.salvagevalue}}</td>
            <td>{{propertyformdata.usefullifeoftheAsset}}</td>
            <td>{{propertyformdata.propertyvalue}}</td>
        </tr>
    </tbody>
</table>  
<div>

