<p>Apply-property</p>
<title>Flight Booking</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body>
  
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div class="form-header">
                            <h1>Log In</h1>
                        </div>
    <form [formGroup]="propertyForm" (ngSubmit)="doAction(propertyForm.value)">
        <!-- first row  -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="number" class="form-control" name="businessId" formControlName="businessId" required placeholder="Enter BusinessId">
                    <span class="form-label">BusinessId</span>
                    <span *ngIf="propertyForm.controls['businessId'].invalid && propertyForm.controls['businessId'].touched"> BusinessId is
                        required</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <span class="form-label">ConsumerId</span>  <input type="number" class="form-control" name="consumerId" formControlName="consumerId" required placeholder="Enter consumerId">
                    <span *ngIf="propertyForm.controls['consumerId'].invalid && propertyForm.controls['consumerId'].touched"> consumerId is required.
                        </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <span class="form-label">Insurance Type</span>
            <select name="insurancetype" class="form-control"  placeholder="select insurancetype" id="insurancetype" formControlName="insurancetype">
                <option value="Pay Back">Pay Back</option>
                <option value="Fire">Fire</option>
                <option value="Replacement">Replacement</option>
                <option value="Burglary">Burglary</option>
                <option value="All Risks">All Risks</option>
                <option value="Natural Disaster">Natural Disaster</option>
            </select>
            <span *ngIf="propertyForm.controls['insurancetype'].invalid && propertyForm.controls['insurancetype'].touched" class="alert-danger">
                select insurancetype .
            </span>
            </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <span class="form-label">Property Type</span>
            <select name="propertytype" class="form-control"  placeholder="select propertytype" id="propertytype" formControlName="propertytype">
                <option value="Building">Building</option>
                <option value="Factory Equipment">Factory Equipment</option>
                <option value="Property in Transit">Property in Transit</option>
            </select>
            <span *ngIf="propertyForm.controls['propertytype'].invalid && propertyForm.controls['propertytype'].touched" class="alert-danger">
                select your propertytype.
            </span>
            </div>
            </div>
            <!--row 3-->
            <div class="col-md-6">
                <div class="form-group">
                    <span class="form-label">Building Sqft</span>  <input type="text" class="form-control" name="buildingsqft" formControlName="buildingsqft" required placeholder="Enter buildingsqft">
                    <span *ngIf="propertyForm.controls['buildingsqft'].invalid && propertyForm.controls['buildingsqft'].touched"> buildingsqft is required.
                        </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <span class="form-label">Building Type</span>
            <select name="buildingtype" class="form-control"  placeholder="select buildingtype" id="buildingtype" formControlName="buildingtype">
                <option value="Owner">Owner</option>
                <option value="Rented">Rented</option>
            </select>
            <span *ngIf="propertyForm.controls['buildingtype'].invalid && propertyForm.controls['buildingtype'].touched" class="alert-danger">
                select your buildingtype.
            </span>
            </div>
            </div>
            <!--row 4-->
            <div class="col-md-6">
                <div class="form-group">
                    <span class="form-label">BuildingStoreys</span> <input type="text" class="form-control" name="buildingstoreys" formControlName="buildingstoreys" required placeholder="Enter buildingstoreys">
                    <span *ngIf="propertyForm.controls['buildingstoreys'].invalid && propertyForm.controls['buildingstoreys'].touched">  buildingstoreys is required.
                        </span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <span class="form-label">Building Age</span> <input type="number" class="form-control"  name='buildingage' formControlName='buildingage' required placeholder="Enter buildingage">
                    <span *ngIf="propertyForm.controls['buildingage'].invalid && propertyForm.controls['buildingage'].touched"> enter buildingage
                        </span>
                </div>
            </div>
            <!--row 5-->
            <div class="col-md-6">
                <div class="form-group">
                    <span class="form-label">Cost of the asset</span><input type="number" name='costoftheasset' class="form-control"  formControlName='costoftheasset' required placeholder="Enter costoftheasset">
                    <span *ngIf="propertyForm.controls['costoftheasset'].invalid && propertyForm.controls['costoftheasset'].touched"> enter costoftheasset
                        </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <span class="form-label">Salvage Value</span> <input type="number" name='salvagevalue' class="form-control"  formControlName='salvagevalue' required placeholder="Enter salvagevalue">
                    <span *ngIf="propertyForm.controls['salvagevalue'].invalid && propertyForm.controls['salvagevalue'].touched"> enter salvagevalue
                        </span>
                </div>
            </div>
            <!--row 6-->
            <div class="col-md-6">
                <div class="form-group">
                    <span class="form-label">Usefullife of the asset</span><input type="number" class="form-control"  name='usefullifeoftheAsset' placeholder="Enter usefullifeoftheAsset" formControlName='usefullifeoftheAsset' required >
                    <span *ngIf="propertyForm.controls['usefullifeoftheAsset'].invalid && propertyForm.controls['usefullifeoftheAsset'].touched"> enter  usefullifeoftheAsset
                        </span>
                </div>
            </div>
        </div>


        <div>
            <button [disabled]='propertyForm.invalid' class="submit-btn" type="submit">Submit</button>
        </div>
    </form>
</div>

</div>
</div>
</div>
</div>
</body>

    <div *ngIf='errorMessage' class="error">
        {{errorMessage}}
    </div>

    <div *ngIf='message' class="success">
        {{message}}
    </div>

